@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.details-text {
    color: #D0417E;
    font-family: 'Righteous', cursive;
}

.show-card {
    padding-top: 60px;
}

.pie-chart {
    padding-top: 60px;
}

.details-text {
    font-family: 'Righteous', cursive; 
    color:black;
}

.details-headings {
    font-family: 'Righteous', cursive; 
    color: #D0417E;
}