@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.profile-heading {
    font-family: 'Righteous', cursive;
    color: #D0417E;
}

.yellow-background {
    background-color: #FFFACD;
    padding-top: 60px;
}


.profile-text {
    color: #D0417E;
    font-family: 'Righteous', cursive;
}

.no-results-style {
    color: black;
    font-family: 'Righteous', cursive;
}

.btn-group {
    font-family: 'Righteous', cursive; 
}

.button-pink {
    background-color: #D0417E !important;
    color: white;
    border-color:  #D0417E   !important;
}
