.header{
    font-size: x-large;
    color: magenta s;
}
.base-container{
    text-align: center;
    /* background-color: royalblue; */
}
.form{
    text-align: center;
}
.app{
    text-align: center;
    /* background-color: burlywood; */
}

.form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightcoral; */
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

input{
    margin-top: 6px;
    min-width: 18em;
    height: 45px;
    padding: 0px 10px;
    font-size: 40px;
    background-color: lightgray;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
 }
  :focus{
      outline: none;
      box-shadow: lightslategray;


 }
 .footer{
 background-color: lightblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }






