/* :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  } */

.header{
    font-size: x-large;
    color: magenta ;
}
.base-container{
    text-align: center;
    /* background-color: royalblue; */
}
.form{
    text-align: center;
}
.app{
    text-align: center;
    /* background-color: burlywood; */
}

/* .form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
     background-color: lightcoral; 
} */
.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
 
}

input{
    margin-top: 10px;
    min-width: 18em;
    height: 45px;
    padding: 0px 10px;
    font-size: 15px;
    background-color: lightgray;
    border: 0;
 }
  :focus{
      outline: none;
      box-shadow: lightslategray;


 }
 .footer{
 background-color: lightblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }

.app{
    text-align: center;
}

.card-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

}

.blocktext{
   position: relative;
   margin-bottom: 1rem;
   position: absolute;
   top: 0;
   left: 0;
   /* display: block; */
   /* width: 100%; */
   /* margin-bottom: 0; */
   /* Override default `<label>` margin */
   /* line-height: 1.5; */
   /* color: #495057;
   cursor: text; */
   /* Match the input under the label */
   /* border: 1px solid transparent; */
   /* border-radius: .25rem; */
   /* transition: all .1s ease-in-out; */
}
/* .signup {
    margin-top: -120px;
    background:linear-gradient(
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)
      ), url("https://i.ndtvimg.com/i/2016-07/television-generic_650x400_81469541532.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
} */
.btn{
    margin: auto;
    margin: 40px;
    font-family: 'Righteous', cursive; 
    color: #D0417E;
  
}

.bg-image{
    background-image: url("https://i.ndtvimg.com/i/2016-07/television-generic_650x400_81469541532.jpg");
   background-size: cover;
   background-position: center;
   
}
body {
    background-color: #FFFACD;
}

   


